body {
  background-color: rgb(12, 12, 12);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 1;
}
.container {
  text-align: center;
  padding: 20px;
  border: 5px solid white;
  border-radius: 10px;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  gap: 5%;
  text-align: center;
}
h3 {
  font-size: 2rem;
  margin-top: 1%;
  margin-bottom: 1%;
}
h1 {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 10%;
}
#options {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  gap: 3%;
  text-align: center;
  margin-top: 3%;
}
p {
  font-size: 1.5rem;
  margin-top: 1%;
  margin-bottom: 1%;
}
.emoji {
  transform: rotate(-90deg);
  font-size: 2rem;
}
h2 {
  text-align: center;
  font-size: 2rem;
}
#computer,
#you {
  background: linear-gradient(
    135deg,
    rgba(121, 9, 107, 1) 33%,
    rgba(2, 0, 36, 1) 68%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 50%;

  height: 140.42px;
  width: 140.42px;
}

#rock,
#paper,
#scissor {
  background: linear-gradient(
    135deg,
    rgba(223, 218, 31, 1) 25%,
    rgba(69, 223, 57, 1) 65%,
    rgba(17, 240, 193, 1) 100%
  );
  border-radius: 50%;
  border: 5px solid white;
  height: 102.38px;
  width: 102.38px;
}
#rock:active,
#paper:active,
#scissor:active {
  border: 5px solid #023302;
}
.vs {
  padding: 1.5rem 2rem;
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(
    to bottom,
    rgba(69, 223, 57, 1) 0%,
    rgba(223, 221, 31, 0.9864320728291317) 0%,
    rgba(7, 246, 196, 0.8799894957983193) 100%
  );
}
.c_up {
  background: linear-gradient(purple, red);
  padding: 5px;
  border-radius: 50%;
}
.u_up {
  background: linear-gradient(
    90deg,
    rgba(7, 246, 211, 0.8799894957983193) 0%,
    rgba(43, 223, 218, 1) 34%,
    rgba(61, 224, 214, 1) 76%,
    rgba(34, 237, 228, 0.9864320728291317) 100%
  );
  padding: 5px;
  border-radius: 50%;
}
#score {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 6%;
  font-size: 1.5rem;
}
#restartButton {
  display: block;
  margin: 40px 850px;
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: #08f79b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#restartButton:hover {
  background-color: #0b91eb;
}
#tie {
  padding: 0rem 4rem;
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(
    90deg,
    rgba(7, 246, 211, 0.8799894957983193) 0%,
    rgba(194, 43, 223, 1) 41%,
    rgba(52, 224, 222, 1) 59%,
    rgba(217, 61, 224, 1) 76%,
    rgba(51, 215, 218, 1) 100%
  );
}
@media only screen and (min-width: 417px) and (max-width: 768px) {
  #main {
    font-size: 3.9rem;
    gap: 3%;
  }
  #computer,
  #you {
    height: 100px;
    width: 100px;
    margin: 0;
  }
  .u_up,
  .c_up {
    padding: 5px;
  }
  .vs {
    padding: 1rem 1rem;
    font-size: 3rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  #rock,
  #paper,
  #scissor {
    height: 70px;
    width: 70px;
  }
  #options {
    font-size: 5rem;
  }
  p {
    font-size: 1.1rem;
    margin-top: 0.3%;
  }
  h2 {
    font-size: 1.4rem;
  }
  #score {
    font-size: 1.2rem;
    gap: 4%;
  }
  #tie {
    padding: 0rem 1.5rem;
  }
  h1 {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 417px) {
  main {
    margin-top: 5%;
    font-size: 2.5rem;
    gap: 3%;
  }
  #computer,
  #you {
    height: 70px;
    width: 70px;
    margin: 0;
  }
  .u_up,
  .c_up {
    padding: 3.5px;
  }
  .vs {
    padding: 0.5rem 0.8rem;
    font-size: 2rem;
    border-width: 3px;
  }
  h3 {
    font-size: 1.1rem;
  }
  #rock,
  #paper,
  #scissor {
    height: 50px;
    width: 50px;
  }
  #options {
    margin-top: 10%;
    font-size: 1.5rem;
  }
  p {
    font-size: 0.8rem;
    margin-top: 0.3%;
  }
  h2 {
    font-size: 1.2rem;
    margin-top: 8%;
  }
  #score {
    font-size: 0.8rem;
    grid-gap: 4%;
    margin-top: 8%;
  }
  #tie {
    padding: 0rem 0.8rem;
    border-width: 3px;
  }
  h1 {
    font-size: 1.7rem;
  }
}
